<div class="row">
    <div class="col-sm-12">

        <div class="slate">

            <form class="form-inlined" style="margin:0px">
<div class="row">            	
<div class="col-sm-3">
                <select id="area" ng-model="area" ng-options="c.category_name group by c.area_name for c in areas" class="form-control"></select>
</div>
<div class="col-sm-3">
                <select id="graph" ng-model="graph" ng-options="c.name for c in graphs" class="form-control"></select>
</div>
 <div class="col-sm-2">
                <select id="year" ng-model="year" ng-options="c.year for c in years" class="form-control"></select>
</div>
 
 <div class="col-sm-2">
                <select id="month" ng-show="showMonth" ng-model="month" ng-options="c.name for c in months" class="form-control"></select>
</div>
 <div class="col-sm-2">
                <select id="day" ng-show="showDays" ng-model="day" ng-options="c for c in days" class="form-control"></select>
</div>
            </form>
</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="min-height:300px">
        <div id="chart_div" style="width:100%; height: 400px; margin: 0 auto"></div>
    </div>
</div> 